<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DH.PushService.SF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--SERVICE-->
    <add key="ServiceName" value="DataHubService_BS"/>
    
    <!--百世接口配置 START-->

    <!--合作伙伴ID-->
    <add key="PARTNERID" value="LHLH"/>
    <!--合作伙伴验证码-->
    <add key="PARTNERKEY" value="123456"/>

    <add key="WAREHOUSECODE" value="BEST_SH_TAOBAO_WH"/>

    <add key="CUSTOMERCODE" value="85000362"/>

    <!--业务类型版本-->
    <add key="SERVICEVERSION" value="1.0"/>

    <!--回调接口-->
    <add key="NOTIFYURL" value="http://180.166.144.196:7070/DH_BS/"/>
    <!--仓库编号 如遇多个仓库编号请以逗号分隔-->
    <add key="BS_FACILITY" value="BS001"/>

    <!-- 调用地址 START-->
    <add key="BS_URL" value="http://183.129.172.49/lhlh/api/process"/>
    
    <!--百世 每次推送数据数量 START-->
    <add key="BS_PUSH_COUNT_SALES_ORDER" value="10"/>
    
    <!--百世  数据推送周期（毫秒） START-->
    <add key="BS_INTERVAL_SALES_ORDER" value="30000"/>
    
    <!--百世接口配置 END-->
    
   <!--。。。。。。。。。。。分割线。。。。。。。。。。。。。。。--> 
    
    
    <!--毅龙接口常用配置 START-->
    
    <!--用户名-->
    <add key="USER_NAME" value="KAIJIE"/>
    <!--密码-->
    <add key="USER_PWD" value="123456"/>
    <!--仓库编号 如遇多个仓库编号请以逗号分隔-->
    <add key="YL_FACILITY" value="EL001"/>
    
    <!-- 调用地址 START-->
    <add key="YL_URL" value="http://180.166.244.98:1999/asmx/openapi/elopenapi.asmx"/>
    <!-- 调用地址 END-->
    
    <!--毅龙接口常用配置 END-->

    <!--毅龙 每次推送数据数量 START-->
    <add key="YL_PUSH_COUNT_SKU" value="50"/>
    <add key="YL_PUSH_COUNT_ENTRY_ORDER" value="50"/>
    <add key="YL_PUSH_COUNT_CHECK_ORDER" value="50"/>
    <add key="YL_PUSH_COUNT_RETURN_ORDER" value="50"/>
    <add key="YL_PUSH_COUNT_SALES_ORDER" value="50"/>
    <!--毅龙 数据推送周期（毫秒） END-->
    <add key="YL_INTERVAL_SKU" value="30000"/>
    <add key="YL_INTERVAL_ENTRY_ORDER" value="30000"/>
    <add key="YL_INTERVAL_CHECK_ORDER" value="30000"/>
    <add key="YL_INTERVAL_RETURN_ORDER" value="30000"/>
    <add key="YL_INTERVAL_SALES_ORDER" value="30000"/>
  </appSettings>
  
  <connectionStrings >
   
    <!--数据库配置-->
    <!--<add name="DataSource" providerName="System.Data.SqlClient" connectionString="Data Source=180.166.144.196;Initial Catalog=DATAHUB;Persist Security Info=True;User ID=sa;Password=Sqlserver110"/>-->
    <add name="DataSource" providerName="System.Data.SqlClient" connectionString="Data Source=101.231.95.194,1233;Initial Catalog=DataHub;Persist Security Info=True;User ID=CRM;Password=KC2015%^&amp;crm2015" />
    
  </connectionStrings >
  <log4net>
    <root>
      <priority value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\log.txt" />
      <param name="Encoding" value="UTF-8" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="3000KB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="LogFileAppenderByDate" type="log4net.Appender.RollingFileAppender">
      <!--是否续写-->
      <param name="AppendToFile" value="true" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件-->
      <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
      <param name="StaticLogFileName" value="true" />
      <!--保存路径-->
      <param name="File" value="Log\\" />
      <param name="DatePattern" value="yyyy-MM-dd.LOG" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>